@import '../icon.styl'

.tr-loading-progressBar
  @extend .loading_bar
  display: block;
  width: 190px;
  height: 44px;
  padding: 10px 10px 10px 50px;
  text-align: left;
  line-height: 27px;
  font-weight: bold;


.tr-multi-list-next-tab
.tr-multi-list-pre-tab
.tr-multi-list-tab
  background none
  padding 0 7px
  display block
  height 20px
  text-decoration none
  line-height 22px
  border 1px solid #d2d7db
  background-color #fff
  color #080808
  margin-right 6px
  cursor pointer

.tr-multi-list-next-tab:hover
.tr-multi-list-pre-tab:hover
.tr-multi-list-tab:hover
  font-weight bold
  background-color #cedbee
  color #cccccc

.tr-multi-list-tab-container
  display flex
  flex-direction row

.tr-multi-list-footer-container
  display flex
  flex-direction row
  align-items center
  justify-content center
  margin-top 5px

.tr-multi-list-curt-tab
  background-color #cedbee

.tr-multi-list-msg
  line-height 22px

.app_tool_search
  height: 27px;
  line-height: 27px;
  display: block;
  border: 1px solid #ced6e0;
  padding: 0 27px 0 20px;
  width: 300px