.app_header_content_container {
  position: relative;
  height: 34px;
  border-bottom: 2px solid #5eb8e5;
}
//0xeccd8e
//0xd3c7b7
//0xefefef
//0xede8e1
//0xede8e1
//0x6f6ef5x
.app_header_title {
  color: #36a6de;
  line-height: 34px;
  font-size: 16px;
  font-weight: bold;
  padding-left: 8px;
}

.app_tool_add_icon
  width: 20px;
  height: 20px;
  background-color: #d3c7b7;
  text-align: center;
  line-height: 20px;
  color: #6f6ef5;
  border-radius: 10px;
  //font-size: 20px;
  font-weight: bold;
  display inline-block

.app_tool_add_text
  display inline-block
  line-height 20px
  text-align center
  margin-left 10px
  color #7A98AF
  font-weight bold

.app_tool_content
  margin-top 10px
  margin-left 12px

.app_list_container
  margin-top 10px
  margin-left 10px

.tool_btn_del
.tool_btn_info
.tool_btn_authority
  width 65px
  height 20px
  border-radius 3px
  background-color #32A8E3
  color white
  line-height 20px
  text-align center
  display inline-block
  cursor pointer

.tool_btn_del
  width 40px
  background-color #F56E6F

.tool_btn_authority
.tool_btn_del
  margin-left 2px