.app_header_content_container {
  position: relative;
  height: 34px;
  border-bottom: 2px solid #5eb8e5;
}

.app_header_title {
  color: #36a6de;
  line-height: 34px;
  font-size: 16px;
  font-weight: bold;
  padding-left: 8px;
}

.app_tool_add_icon
  width: 20px;
  height: 20px;
  background-color: #d3c7b7;
  text-align: center;
  line-height: 20px;
  color: #6f6ef5;
  border-radius: 10px;
  font-weight: bold;
  display inline-block

.app_tool_add_text
  display inline-block
  line-height 20px
  text-align center
  margin-left 10px
  color #7A98AF
  font-weight bold

.app_tool_content
  margin-top 10px
  margin-left 12px

.app_list_container
  margin-top 10px
  margin-left 10px

.tool_btn_del
.tool_btn_info
.tool_btn_authority
  width 65px
  height 20px
  border-radius 3px
  background-color #32A8E3
  color white
  line-height 20px
  text-align center
  display inline-block
  cursor pointer

.tool_btn_del
  width 40px
  background-color #F56E6F

.tool_btn_authority
.tool_btn_del
  margin-left 2px

.app_config_container
.admin_config_container
.confirm_view_container
  width 600px
  height 400px
  background-color #FFFFFF
  border-radius 10px

.confirm_view_container
  width 300px
  height 100px

.tree-nodes-container
  width 260px
  height 280px
  overflow auto
  margin-top 5px
  margin-left 20px

.admin_config_container
  width 300px
  height 380px

.app_config_header
  height: 30px;
  background-color: #248DC2;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

.app_config_header_title
  height: 30px;
  line-height: 30px;
  color: white;
  margin-left: 10px;
  font-size: 16px;

.app_config_yytb
  color #40ABE0
  width: 55px

.app_config_up_container
  margin-top 10px

.app_config_pic_con
  width: 130px
  height: 130px
  background-color #F0F0F0
  //border-radius 5px
  border: 1px solid #DDD
  margin-top -12px
  margin-left 60px
  color #AAAAAA
  line-height 130px
  text-align center

.app_config_pic_con_2{
  max-width: 130px
  max-height: 130px
  position absolute
  //border: 1px solid #DDD
  margin-top -131px
  margin-left 61px
  vertical-align center
}

#preview_image{
  max-width: 130px
  max-height: 130px
  //position absolute
  //border-radius 5px
  //border: 1px solid #DDD
  //margin-top -132px
  //margin-left 60px
}

.app_config_msg_con {
  margin-top: -130px;
  margin-left: 250px;
}

input.app_config_img_upload_btn{
  filter:"alpha(opacity=0)";
  opacity:0;
  position absolute
  margin-top -30px
}

.app_config_img_upload_btn {
  width: 80px;
  height: 30px;
  background-color: #67C36E;
  color: #FFF;
  line-height: 30px;
  text-align: center;
  border-radius: 5px;
  cursor pointer
  margin-top 20px
}

.app_config_space_size_msg
.app_config_type_msg
.app_config_size_msg
  color #808080

.app_config_up_right_container
  width: 180px;
  margin-left: 370px;
  margin-top: -80px;

.app_config_name_input
.app_config_name_input_text
  width: 180px

.app_config_name_input_text
  color:#808080
  text-align center

.app_config_up_left_container
  margin-left 30px
  height 140px

.devide_line
  height: 1px;
  width: 540px;
  margin-top: 10px;
  margin-left: 30px;
  background-color: #DFDFDF;

.app_config_middle_container
  margin-top: 10px;
  margin-left: -10px;

.app_config_middle_right
  margin-top: -110px;
  margin-left: 310px;

.app_config_middle_text
  width: 110px
  text-align right
  display inline-block
  color #808080

.config_input
  height: 20px
  width: 170px

.app_config_btn_confirm
.app_config_btn_cancel
.admin-config-confirm
.admin-config-cancel
.confirm_view_confirm_btn
.confirm_view_cancel_btn
  width: 65px;
  height: 30px;
  background-color: #32A8E3;
  border-radius: 5px;
  color: white;
  line-height: 30px;
  text-align: center;
  cursor pointer;

.app_config_btn_cancel
.admin-config-cancel
.confirm_view_cancel_btn
  background-color #A8A8A8
  margin-top -30px
  margin-left 80px

.app_config_btn_container
  width: 145px;
  margin-top: 20px;
  margin-left: 227.5px;

.admin-config-confirm
  margin-left 75px
  margin-top 20px

.admin-config-cancel
  margin-left 170px
  margin-top -30px

.confirm_view_confirm_btn
  margin-top 20px
  margin-left 70px

.confirm_view_cancel_btn
  margin-left 170px

.app_tool_add
  width 90px
  cursor pointer
